<ion-header class="background-transparent">
  <ion-toolbar class="primary-background-color ecom-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">My Order</ion-title>
    <button ion-button icon-only slot="end" class="ion-margin-horizontal background-transparent" routerLink="/cart">
      <ion-icon class="primary-text-color toolbar-icon" name="cart"></ion-icon>
      <ion-badge class="background-transparent">0</ion-badge>
    </button>
  </ion-toolbar>
</ion-header>

<ion-content class="secondary-background-color">

</ion-content>
